*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color: white;
}
/* -------------------header----------------- */
.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: rgba(30, 32, 34,.4);
    height: 70px;
    padding: 0 137px;
   position: fixed;
top: 0;
right: 0;
left: 0;
   z-index: 20;
  
}
.navbar-list{
    display: flex;
    padding-right: 10px;
    margin-right: 20px;
}
.navbar-list li{
    padding: 25px;
}
.navbar-list li svg{
  
    
}
.navbar .navbar-list a{
    font-size: 25px;
}
.search{
    width: 50px;
    height: 50px;
}

.slider{
    background-image: url("images/1.jpg");
    height: 100vh;
    color: white;
    padding-left: 137px;
        
}
.slider-content{
    max-width:50%;
    height: 100%;
    align-content: center;
    
}
.slider-text h1{
    font-size: 70px;
    background: linear-gradient(to bottom, rgb(255, 163, 151),rgb(255, 218, 157));
    background-clip: text;
    color: transparent;
    padding-bottom: 20px;
}
.slider-text p{
    font-size: 22px;
    padding-bottom: 30px;
}
.slider-text,.slider-link{
   padding-left: 20px;

}
.slider-link{
    font-size: 20px;
}
.slider-btn{
    font-size: 15px;
    border: 2px solid rgb(255, 163, 151);
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 50px;
   margin-right: 10px;
}
.slider-btn:hover{
    background-color: #fc6060;
}
/* ------------gallery----------- */
.portfolio{
   
   
}
.gallery{
    position: relative;
    height: 1069.51px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 137px;
    margin-top: 20px;
   
    
}
.gallery-content{
  position: absolute;
   padding: 0 10px;
    visibility: visible;
    /* flex: 0 0 25%; */
    max-width: 25%;
    margin-top: 15px; 
    margin-bottom: 20px;
  
   
}
.single-gallery-content{
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
    overflow: hidden;
}
.gallery img{
    width: 100%;
    height: auto;
    
}
.image1{
    left: 0%;
    top: 0%;
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
    overflow: hidden;

}
.gallery-hover a{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -26px;
    z-index: 100;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fc6060;
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    color: #ffffff;
}
.gallery-hover{
    /* transition-duration: 500ms; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: 0; */
    visibility: hidden;
    z-index: 10;
}
.single-gallery-content .gallery-hover a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -26px;
    z-index: 100;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
   
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    color: #ffffff; 
}


  

.gallery-content img:hover{
    transform: scale(1.2);
}
.single-gallery-content:hover .gallery-hover {
    visibility: visible;
    opacity: 1;
}


.image2{
     left: 24.9994%;
    top: 0%;
}
.image3{
   
    left: 49.9987%;
    top: 0%;
}
.image4{
    
    left: 74.9981%;
   
top:0%;
}
.image5{
    left: 0%;
    top: 213.8px;
}
.image6{
    top: 346.5px;
    left: 24.9994%;
}
.image7{
    left: 49.9987%;
    top: 213.8px;
}
.image8{
    left: 74.9981%;
    top: 346.5px;
}

.image10{
    left: 0%;
    top: 560.762px;
}
.image11{
    left: 24.9994%;
    top: 847.725px;
}
.image12{
    left: 49.9987%;
    top: 560.762px;
    width: 592.688;
    height: 478.750;
    flex: 0 0 50%;
        max-width: 50%;
}



